body,html{height:100%;margin:0;padding:0;background: #79a79d}
svg{
  background:url('idea.png');
  background-size:cover;
  width:50vmin; 
  height:auto;
  display:block;
  margin:30vmin auto;
}
text{
  font-size:10px;
  transition:font-size .4s ease-out;
  font-weight:900;
  font-family:arial;
}
svg:hover text{
  transition:font-size .4s ease-in;
  font-size: 300px;
}